<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of sideMenu">
        <li *ngIf="menu.children.length === 0 " nz-menu-item nzMatchRouter>
          <a [routerLink]="menu.router"><span nz-icon [nzType]="menu.icon"
              nzTheme="outline"></span>&nbsp;&nbsp;{{menu.title}}</a>
        </li>
        <li *ngIf="menu.children.length !== 0 " nz-submenu nzOpen [nzTitle]="menu.title" [nzIcon]="menu.icon">
          <ul>
            <ng-container *ngFor="let subMenu of menu.children">
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="subMenu.router"><span nz-icon [nzType]="subMenu.icon"
                    nzTheme="outline"></span>&nbsp;&nbsp;{{subMenu.title}}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-affix [nzOffsetTop]="0">
      <nz-header>
        <div class="app-header" [ngClass]="{'header--grow':isCollapsed,'header--shrink':!isCollapsed}">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
      </nz-header>
    </nz-affix>
    <nz-content [ngClass]="{'colapse':isCollapsed,'uncolapse':!isCollapsed}">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>

      <div class="m-t-10 p-t-20">&nbsp;</div>
    </nz-content>
  </nz-layout>
</nz-layout>