$button-count: 20;
$button-margin: 47px; //espaçamento entre os botões
@keyframes rotateBtn {
  from {
    transform: rotate(0deg) scale(1.3);
  }
  to {
    transform: rotate(225deg) scale(1.3);
  }
}
@keyframes desRotateBtn {
  from {
    transform: rotate(225deg) scale(1.3);
  }
  to {
    transform: rotate(0deg) scale(1.3);
  }
}
.fab {
  transform: scale(1.3);
  position: fixed;

  z-index: 9999999999999;
  &__principal {
    animation-name: desRotateBtn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    bottom: 36px;
    right: 36px;
  }

  &__principal--clicked {
    animation-name: rotateBtn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

    bottom: 36px;
    right: 36px;
  }

  @for $i from 1 through $button-count {
    @keyframes grow-#{$i} {
      from {
        display: block;
        bottom: 36px;
      }
      to {
        display: none;
        bottom: ($i + 1) * $button-margin;
      }
    }
    @keyframes shrink-#{$i} {
      from {
        display: none;
        bottom: ($i + 1) * $button-margin;
      }
      to {
        display: block;
        bottom: 36px;
      }
    }

    &__filho:nth-last-child(#{$i}) {
      animation-name: grow-#{$i};
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      transform: scale(1);
      right: 36px;
    }

    &__filho--behiden:nth-last-child(#{$i}) {
      animation-name: shrink-#{$i};
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      transform: scale(1);
      right: 36px;
      z-index: 9999999;
    }
  }
}
