@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$primary-color: #af7eeb;
$secondary-color: #939cbd;
$tertiary-color: #ffffff;

$primary-background-color: #e3e9ff;
$secondary-background-color: $tertiary-color;
$tertiary-background-color: $primary-color;

$primary-text-color: $secondary-color;
$secondary-text-color: $tertiary-color;

$danger-color: #ff002e;
$succes-color: rgb(5, 200, 5);
