.example {
  text-align: center;
  // background: rgba(0, 0, 0, 0.05);
  transform: scale(2);
  padding: 0;
  width: 1vw;
  margin: auto;
  position: relative;
  top: 48vh;
  // scroll-behavior: ;

  // border-radius: 4px;
  // margin-bottom: 20px;
  // padding: 30px 50px;
  // margin: auto;
}
