form nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

::ng-deep .overlay .nz-table-hide-scrollbar {
  overflow-y: overlay!important;

}

::ng-deep .overlay .ant-table-title{
  padding:0 0 1.5em 0;
  /* margin-top:2em */
}
::ng-deep .overlay .ant-table-footer{
  margin:0.5em 0 0 0;
  padding:0;
  overflow-y: hidden;
}


.table_head {
  padding:1em;
  background-color: #ffeaef;

}




