form nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}
/* thead> tr> th{
  background-color: #fec7d3;
} */

.table_head {
  padding:1em 0;
  background-color: #ffeaef;
   /* substitua pela cor desejada */
  /* padding-top: 5em;
  padding-bottom: 5em; */

}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
} */

/* ::ng-deep .ant-table-body::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

::ng-deep .ant-table-body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  border: 2px solid blue;
  scroll-behavior: smooth;
}

::ng-deep .ant-table-body::-webkit-scrollbar-track {
  background-color: yellow;
  scroll-behavior: smooth;
} */



