<ng-template #filter>

  <div>
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel [nzHeader]="'Filtros'" [nzActive]="'filter'">
        <p>filtros</p>
        <div nz-row [nzGutter]="[16,16]" nzJustify="end">
          <div nz-col>
            <button nz-button nzType="primary" (click)="pesquisar()" [nzSize]="'default'" nzShape="round">
              <span nz-icon nzType="search"></span>
              Pesquisar
            </button>

          </div>
        </div>

      </nz-collapse-panel>
    </nz-collapse>
  </div>
</ng-template>
<nz-table #dynamicTable class="overlay" [nzScroll]="{y: '420px' }" [nzData]="displayData" [nzTableLayout]="'fixed'"
  [nzSimple]="false" [nzLoading]="false" [nzPaginationType]="'default'" [nzShowPagination]="false" [nzFooter]="footer"
  [nzTitle]="filter" [nzSize]="'default'">

  <thead class="table_head ant-table-header ">
    <tr *ngIf="true" class="table_head ">
      <th nzWidth="40px" class="table_head" class="p-t-20 p-b-20 table_head" *ngIf="hasDetalhe" [nzLeft]="true">
        <!--expand detalhe-->
      </th>
      <th *ngIf="true" nzWidth="60px" class="p-t-20 p-b-20 table_head" [(nzChecked)]="allChecked" [nzLeft]="true"
        [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <ng-container *ngFor="let column of columns">
        <th [nzSortFn]="column.ordenator" *ngIf="column.visible" class="p-t-20 p-b-20 table_head">

          {{column.label}}
        </th>
      </ng-container>

    </tr>
  </thead>
  <tbody class="ant-table-body">
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr>
        <td [nzLeft]="true" *ngIf="hasDetalhe" [(nzExpand)]="data.expand" (click)="expandTableRow(data)"></td>
        <td [nzLeft]="true" *ngIf="true" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <ng-container *ngFor="let column of columns">
          <td *ngIf="column.columnName  !== 'action' && column.visible ">{{ getCell(column,data) }}</td>
          <td *ngIf="column.columnName  === 'action' && column.visible"> <a href="#">Delete</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#">More action</a>
          </td>
        </ng-container>


      </tr>
      <tr *ngIf="true" [nzExpand]="data.expand">
        <div>
          <nz-table class="m-t-10" #dynamicTableExpand class="overlay" [nzScroll]="{ }" [nzData]="data.children"
            [nzTableLayout]="'fixed'" [nzSimple]="false" [nzLoading]="false" [nzPaginationType]="'default'"
            [nzPaginationPosition]="'bottom'" [nzShowSizeChanger]="true" [nzFrontPagination]="true"
            [nzShowPagination]="false" [nzSize]="'small'">
            <!-- (nzCurrentPageDataChange)="currentPageDataChange($event)" -->
            <thead class="table_head ant-table-header ">
              <tr *ngIf="hasDetalhe" class="table_head ">
                <!-- <th nzWidth="40px" class="table_head" class="p-t-20 p-b-20 table_head" *ngIf="true" [nzLeft]="true">
              </th> -->
                <th *ngIf="true" nzWidth="60px" class="p-t-20 p-b-20 table_head" [(nzChecked)]="allChecked"
                  [nzLeft]="true" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <ng-container *ngFor="let detalheColumn of detalheColumns">
                  <th [nzSortFn]="detalheColumn.ordenator" *ngIf="detalheColumn.visible"
                    class="p-t-20 p-b-20 table_head">
                    <!--TODO: ordenadores,column checklist-->
                    {{detalheColumn.label}}
                  </th>
                </ng-container>

              </tr>
            </thead>
  <tbody class="ant-table-body">
    <ng-container *ngFor="let data of dynamicTableExpand.data">
      <tr>
        <!-- <td [nzLeft]="false" *ngIf="true" [(nzExpand)]="data.expand"></td> -->
        <td [nzLeft]="true" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <ng-container *ngFor="let detalheColumn of detalheColumns">
          <td *ngIf="detalheColumn.columnName  !== 'action' && detalheColumn.visible">{{ getCell(detalheColumn,data) }}
          </td>
          <td *ngIf="detalheColumn.columnName  === 'action' && detalheColumn.visible"> <a href="#">Delete</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#">More action</a>
          </td>
        </ng-container>


      </tr>
      <!-- <tr *ngIf="false" [nzExpand]="data.expand">

        <span>{{ data.description }}</span>
      </tr> -->
    </ng-container>
  </tbody>
</nz-table>
</div>
</tr>
</ng-container>
</tbody>
</nz-table>
<ng-template #footer>

  <div class="footer">
    <div nz-row nzJustify="start">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, accusantium sunt rerum accusamus expedita
        recusandae porro odit deleniti maxime magni assumenda ut veniam dolorem eveniet molestiae modi fugit ipsum amet?
      </p> -->
      <!-- <div nz-col>Alunos selecionados:<b>{{getSelecionados()}}</b></div> -->
    </div>
  </div>
</ng-template>
&nbsp;


<div nz-row [nzGutter]="[32,32]" nzJustify="end">

  <div nz-col>
    <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
  </div>
</div>