<gs-fab></gs-fab>
<nz-table #dynamicTable class="nz-table-scroll" [nzScroll]="{x:null,  y: '50vh' }" [nzData]="displayData"
  [nzTableLayout]="'fixed'" [nzSimple]="false" [nzLoading]="false" [nzPaginationType]="'default'"
  [nzPaginationPosition]="'bottom'" [nzShowSizeChanger]="true" [nzFrontPagination]="true" [nzShowPagination]="true"
  [nzFooter]="'Gabriel souza'" [nzTitle]="'Tabela teste'" [nzSize]="'default'">
  <!-- (nzCurrentPageDataChange)="currentPageDataChange($event)" -->
  <thead class="table_head ant-table-header">
    <tr *ngIf="true" class="table_head ">
      <th nzWidth="40px" class="table_head " style="padding-top:1.2em;padding-bottom: 1.2em;" *ngIf="true"
        [nzLeft]="true">
      </th>
      <th *ngIf="true" nzWidth="60px" class="table_head" style="padding-top:1.2em;padding-bottom: 1.2em;"
        [(nzChecked)]="allChecked" [nzLeft]="true" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <ng-container *ngFor="let column of columns">
        <th [nzSortFn]="column.ordenator" *ngIf="column.visible" style="padding-top:1.2em;padding-bottom: 1.2em;"
          class="table_head  ">
          <!--TODO: ordenadores,column checklist-->
          {{column.label}}
        </th>
      </ng-container>
      <!-- <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th> -->
    </tr>
  </thead>
  <tbody class="ant-table-body">
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr>
        <td [nzLeft]="true" *ngIf="true" [(nzExpand)]="data.expand"></td>
        <td [nzLeft]="true" *ngIf="true" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <ng-container *ngFor="let column of columns">
          <td *ngIf="column.columnName  !== 'action' ">{{ getCell(column,data) }}</td>
          <td *ngIf="column.columnName  === 'action' "> <a href="#">Delete</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#">More action</a>
          </td>
        </ng-container>


      </tr>
      <tr *ngIf="true" [nzExpand]="data.expand">
        <span>{{ data.description }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>